@model IEnumerable<Nesti.Data.Entities.Week>

@using Nesti.Data;
@inject NsContext context;

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<header>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-4 my-auto h-100">
            <div class="col-lg-9">
                <div class="ingredients-container">

                    <div id="generateList" class="btn btn-primary" style="margin: 25px 0">
                        Generate ingredient list
                    </div>
                    <div id="ingredient-list" class="ingredient-list">
                        <div class="row" name="ingredient row">
                            <div class="col-lg-7">
                                <p class="ingred-p">Cheese</p>
                            </div>
                            <div class="col-lg-5">
                                <p class="ingred-p" style="text-align: right;">600 gr</p>
                            </div>
                        </div>
                        <div class="row" name="ingredient row">
                            <div class="col-lg-7">
                                <p class="ingred-p">Yogurt</p>
                            </div>
                            <div class="col-lg-5">
                                <p class="ingred-p" style="text-align: right;">1.8 L</p>
                            </div>
                        </div>
                        <div class="row" name="ingredient row">
                            <div class="col-lg-7">
                                <p class="ingred-p">Eggs</p>
                            </div>
                            <div class="col-lg-5">
                                <p class="ingred-p" style="text-align: right;">2 pc</p>
                            </div>
                        </div>
                        <div class="row" name="ingredient row">
                            <div class="col-lg-7">
                                <p class="ingred-p">Pizza bottom</p>
                            </div>
                            <div class="col-lg-5">
                                <p class="ingred-p" style="text-align: right;">6 pc</p>
                            </div>
                        </div>
                        <div class="row" name="ingredient row">
                            <div class="col-lg-7">
                                <p class="ingred-p">Pasta</p>
                            </div>
                            <div class="col-lg-5">
                                <p class="ingred-p" style="text-align: right;">1.4kg</p>
                            </div>
                        </div>
                        <div class="row" name="ingredient row">
                            <div class="col-lg-7">
                                <p class="ingred-p">Beef</p>
                            </div>
                            <div class="col-lg-5">
                                <p class="ingred-p" style="text-align: right;">800 gr</p>
                            </div>
                        </div>
                        <div class="row" name="ingredient row">
                            <div class="col-lg-7">
                                <p class="ingred-p">Tomatos</p>
                            </div>
                            <div class="col-lg-5">
                                <p class="ingred-p" style="text-align: right;">600 gr</p>
                            </div>
                        </div>
                        <div class="row" name="ingredient row">
                            <div class="col-lg-7">
                                <p class="ingred-p">Lettuce</p>
                            </div>
                            <div class="col-lg-5">
                                <p class="ingred-p" style="text-align: right;">1 kg</p>
                            </div>
                        </div>
                        <div class="row" name="ingredient row">
                            <div class="col-lg-7">
                                <p class="ingred-p">Hot dogs</p>
                            </div>
                            <div class="col-lg-5">
                                <p class="ingred-p" style="text-align: right;">4 pc</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="col-lg-1 my-auto nopadding h-100" style="min-height: 50vh">
            <div class="panel panel-primary h-100 borderfix-left borderbottomfix">
                <div class="panel-heading" style="margin-bottom: 15px; border-radius: 0px">Monday</div>
                <div id="monday" style="min-height: 50vh">
                    @foreach (var wm in context.WeekMeals.Where(x => x.Day == 0))
                    {
                        var meal = context.Meals.Where(x => x.Id == wm.MealId).FirstOrDefault();
                        <div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>@meal.Name</th>
                                    <th>@meal.PreparationTime</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    }
                    <div class="bottom">
                        <button id="monday-button" type="button" class="btn btn-primary add-meal-button" data-toggle="modal" data-target="#exampleModal">
                            Add meal
                        </button>
                    </div>
                </div>
            </div>
        </div>
                
    <div class="col-lg-1 my-auto nopadding h-100" style="min-height: 50vh">
        <div class="panel panel-primary h-100 borderfix-left borderbottomfix">
            <div class="panel-heading" style="margin-bottom: 15px; border-radius: 0px">Tuesday</div>
            <div id="tuesday" style="min-height: 50vh">
                @foreach (var wm in context.WeekMeals.Where(x => x.Day == 1))
                {
                    var meal = context.Meals.Where(x => x.Id == wm.MealId).FirstOrDefault();
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>@meal.Name</th>
                                <th>@meal.PreparationTime</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                }
                <div class="bottom">
                    <button id="monday-button" type="button" class="btn btn-primary add-meal-button" data-toggle="modal" data-target="#exampleModal">
                        Add meal
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-1 my-auto nopadding h-100" style="min-height: 50vh">
        <div class="panel panel-primary h-100 borderfix-left borderbottomfix">
            <div class="panel-heading" style="margin-bottom: 15px; border-radius: 0px">Wednsday</div>
            <div id="wednsday" style="min-height: 50vh">
                @foreach (var wm in context.WeekMeals.Where(x => x.Day == 2))
                {
                    var meal = context.Meals.Where(x => x.Id == wm.MealId).FirstOrDefault();
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>@meal.Name</th>
                                <th>@meal.PreparationTime</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                }
                <div class="bottom">
                    <button id="monday-button" type="button" class="btn btn-primary add-meal-button" data-toggle="modal" data-target="#exampleModal">
                        Add meal
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-1 my-auto nopadding h-100" style="min-height: 50vh">
        <div class="panel panel-primary h-100 borderfix-left borderbottomfix">
            <div class="panel-heading" style="margin-bottom: 15px; border-radius: 0px">Thursday</div>
            <div id="thursday" style="min-height: 50vh">
                @foreach (var wm in context.WeekMeals.Where(x => x.Day == 3))
                {
                    var meal = context.Meals.Where(x => x.Id == wm.MealId).FirstOrDefault();
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>@meal.Name</th>
                                <th>@meal.PreparationTime</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                }
                <div class="bottom">
                    <button id="monday-button" type="button" class="btn btn-primary add-meal-button" data-toggle="modal" data-target="#exampleModal">
                        Add meal
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-1 my-auto nopadding h-100" style="min-height: 50vh">
        <div class="panel panel-primary h-100 borderfix-left borderbottomfix">
            <div class="panel-heading" style="margin-bottom: 15px; border-radius: 0px">Friday</div>
            <div id="friday" style="min-height: 50vh">
                @foreach (var wm in context.WeekMeals.Where(x => x.Day == 4))
                {
                    var meal = context.Meals.Where(x => x.Id == wm.MealId).FirstOrDefault();
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>@meal.Name</th>
                                <th>@meal.PreparationTime</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                }
                <div class="bottom">
                    <button id="monday-button" type="button" class="btn btn-primary add-meal-button" data-toggle="modal" data-target="#exampleModal">
                        Add meal
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-1 my-auto nopadding h-100" style="min-height: 50vh">
        <div class="panel panel-primary h-100 borderfix-left borderbottomfix">
            <div class="panel-heading" style="margin-bottom: 15px; border-radius: 0px">Saturday</div>
            <div id="saturday" style="min-height: 50vh">
                @foreach (var wm in context.WeekMeals.Where(x => x.Day == 5))
                {
                    var meal = context.Meals.Where(x => x.Id == wm.MealId).FirstOrDefault();
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>@meal.Name</th>
                                <th>@meal.PreparationTime</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                }
                <div class="bottom">
                    <button id="monday-button" type="button" class="btn btn-primary add-meal-button" data-toggle="modal" data-target="#exampleModal">
                        Add meal
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-1 my-auto nopadding h-100" style="min-height: 50vh">
        <div class="panel panel-primary h-100 borderfix-left borderbottomfix">
            <div class="panel-heading" style="margin-bottom: 15px; border-radius: 0px">Sunday</div>
            <div id="sunday" style="min-height: 50vh">
                @foreach (var wm in context.WeekMeals.Where(x => x.Day == 6))
                {
                    var meal = context.Meals.Where(x => x.Id == wm.MealId).FirstOrDefault();
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>@meal.Name</th>
                                <th>@meal.PreparationTime</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                }
                <div class="bottom">
                    <button id="monday-button" type="button" class="btn btn-primary add-meal-button" data-toggle="modal" data-target="#exampleModal">
                        Add meal
                    </button>
                </div>
            </div>
        </div>
    </div>