@model IEnumerable<Nesti.Data.Entities.Week>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>Monday</th>
            <th>Thusday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @*@foreach (var x in Model.ToArray()[0].MealsMonday)
                {
                    @x.Name;
                }*@
            </td>
            <td>
                @*@foreach (var x in Model.ToArray()[0].MealsTuesday)
                {
                    @x.Name;
                }*@
            </td>
            <td>
                @*@foreach (var x in Model.ToArray()[0].MealsWednesday)
                {
                    @x.Name;
                }*@
            </td>
            <td>
                @*@foreach (var x in Model.ToArray()[0].MealsThursday)
                {
                    @x.Name;
                }*@
            </td>
            <td>
                @*@foreach (var x in Model.ToArray()[0].MealsFriday)
                {
                    @x.Name;
                }*@
            </td>
            <td>
                @*@foreach (var x in Model.ToArray()[0].MealsSaturday)
                {
                    @x.Name;
                }*@
            </td>
            <td>
                @*@foreach (var x in Model.ToArray()[0].MealsSunday)
                {
                    @x.Name;
                }*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
